// Fontes
$fontePrincipal: Roboto, sans-serif;

// Esquemas de cores
$corDeFundo: #f5f6fa;
$corButton:#44bd32;
$corTextoLinkEButton: #fff;
$corCabecalho:#182C61;
// Breakpoints
$mobile: 767px;
$tablet: 1023px;